.tic {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.container-blockquote {
}
.meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    span {
      margin-right: $base-margin;
    }
  }
  @include media-breakpoint-down(sm) {
    .alloy-right {
      order: -1;
      text-align: center;
      > * {
        display: inline-block;
        margin-bottom: $base-margin;
      }
    }
  }
  // text-align: center;
  // font-weight: 600;
}
.list {
  .single-tic {
    padding-top: $base-margin * 4;
    padding-bottom: $base-margin * 4;

    button {
      @extend .btn--small;
    }
  }
}
//------------------------------------------------------//
// Bubble 💭
//------------------------------------------------------//
.AlloyBubble {
  cursor: pointer;

  position: absolute;
  bottom: 0;
  right: 0;
  padding: $base-margin;
  text-decoration: none;
  max-width: 220px;
  display: block;
  text-align: right;
  background-color: transparent;
  border: 0;
  &:hover {
    background-color: transparent;
  }
  span {
    display: inline-block;
    transform: translateY(-40px);
    position: relative;
    z-index: 1;
    color: $brand-light;
  }
  .bubble {
    z-index: -1;
    width: 350px;
    height: 350px;
    background-color: $brand-dark;
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    right: -100px;
    // transition: transform;
    // transition-duration: 300ms;
    // transition-timing-function: ease;
  }

  // &:hover {
  //   .bubble {
  //     transform: scale(1.1);
  //   }
  // }
  &[data-active="true"] {
    span {
      color: $brand-dark;
    }
    .bubble {
      background-color: $brand-one;
    }
  }
}
// END Bubble 💭  -------------------------------------//
